<!DOCTYPE html>
<html>
<head>
  <title>Confirm Your Email</title>
</head>
<body>
<h1>Welcome!</h1>
<p>Thank you for signing up. Please confirm your email address by clicking the link below:</p>
<a href="{{confirmLink}}">Confirm Email</a>
<p>If you did not sign up for this account, please ignore this email.</p>
</body>
</html>