<!DOCTYPE html>
<html>
<head>
  <title>Confirm Your Email for Sign-In</title>
</head>
<body>
<h1>Welcome Back!</h1>
<p>Please confirm your email address by clicking the link below to sign in:</p>
<a href="{{confirmLink}}">Confirm Email</a>
<p>If you did not request this sign-in, please ignore this email.</p>
</body>
</html>